body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm281-adj-037.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=bed451811a5d38b925adbb858c1ef14e");
    background-size:cover;

}

h1 {
    text-align: center;
    font-size: 300%;
    color: darkslategray;
    border-bottom: solid
    
}

h2 {
    text-align: center;
    font-size: 250%;
    color: darkslategray;
}

h3 {
    text-align: center;
    font-size: 150%;
    color: darkslategray;
}


p {
    text-align: center;
    font-size: 200%;
    color: darkslategray
}
nav {
    float: left;
    height: 100vh;
    padding: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 30%;
}

.football {
    
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;

}
li a {
    background-color: white;
    color: darkslategray;
    padding: 1em 1.5em;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 200px;
}

    li a:hover {
        background-color: #AAA;
    }